import(methods)

importFrom(limma, lmFit)
importFrom(gam, gam, lo)

importFrom(AnnotationDbi, select)
importFrom(IRanges, "%over%", nearest)

importFrom(GenomicFeatures, transcriptsBy)
importFrom(ggplot2, ggplot, aes, geom_point, xlab, ylab, facet_grid)

importClassesFrom(GenomicRanges, GRanges, GRangesList)
importFrom(GenomicRanges, unlist, rowData, exptData, 
   "exptData<-", assays,
   "assays<-", colData, GRangesList, assay, mcols,
   "mcols<-", "assay<-")

importFrom(GenomeInfoDb, seqnames, seqlevels, "seqlevels<-",
  "seqlevelsStyle<-")

importFrom(gQTLBase, storeToFf, loadAndFilterResult, ciseStore,
	storeApply, extractByProbes)

export(cisAssoc, clipPCs, regressOut) #, pifdr)
export( storeToQuantiles,  storeToHist, storeToFDR,
     storeToFDRByProbe, storeToMaxAssocBySNP)
exportClasses("FDRsupp")
export(getFDRfunc, getTab, setFDRfunc, directPlot,
       txsPlot, eqBox2, eqDesc2, enumerateByFDR, gmod2,
	manhWngr)

importFrom(BiocGenerics, width)

importFrom(VariantAnnotation, readVcf, scanVcfHeader, ScanVcfParam,
   genotypeToSnpMatrix, alt, ref, "vcfSamples", "vcfSamples<-")

importFrom(Biobase, selectSome, pData, assayDataNew, exprs, samples)

importFrom(BiocParallel, bpparam, bpworkers, bplapply)

importFrom(BatchJobs, batchMapResults, makeRegistry, submitJobs,
	waitForJobs, findNotDone)

importFrom(snpStats, snp.rhs.tests, col.summary, chi.squared)

importFrom(S4Vectors, metadata, "metadata<-")

importFrom(dplyr, filter, select, group_by, summarize, "%>%",
  rbind_all)

export( table.sensobj.thresh, queryVCF )
S3method( plot, table.sensobj )
