import(methods)
import(foreach)
import(doParallel)

import(BiocGenerics)
import(S4Vectors)
import(IRanges)
import(GenomeInfoDb)
import(GenomicRanges)
import(SummarizedExperiment)
import(ffbase)

importFrom(limma, lmFit)
importFrom(gam, gam, lo)

importFrom(AnnotationDbi, select)

importFrom(GenomicFeatures, transcriptsBy)
importFrom(ggplot2, ggplot, 
     aes, geom_point, xlab, ylab, facet_grid, ggtitle, theme,
     element_text)
importFrom(reshape2, melt)

importFrom(gQTLBase, storeToFf, loadAndFilterResult, ciseStore,
	storeApply, extractByProbes)

export(cisAssoc, clipPCs, regressOut) #, pifdr)
export( storeToQuantiles,  storeToHist, storeToFDR,
     storeToFDRByProbe, storeToMaxAssocBySNP)
exportClasses("FDRsupp")
export(getFDRfunc, getTab, setFDRfunc, directPlot,
       txsPlot, eqBox2, eqDesc2, enumerateByFDR, #gmod2,
	manhWngr)

importFrom(VariantAnnotation, readVcf, scanVcfHeader, ScanVcfParam, isSNV,
   genotypeToSnpMatrix, alt, ref, "vcfSamples", "vcfSamples<-", info, "alt<-")

importFrom(Biobase, selectSome, pData, assayDataNew, exprs, samples)

#importFrom(BiocParallel, bpparam, bpworkers, bplapply)

importFrom(BatchJobs, batchMapResults, makeRegistry, submitJobs,
	waitForJobs, findNotDone)

importFrom(snpStats, snp.rhs.tests, col.summary, chi.squared)

importFrom(dplyr, filter, group_by, summarize, "%>%",
  rbind_all, arrange)

export( table_sensobj_thresh, queryVCF, senstab )
S3method( plot, table.sensobj )
S3method( plot, senstab )

export(prep.cisAssocNB)
