  importFrom("graphics", "abline", "bxp", "hist", "lines", "plot",
             "text")
  importFrom("stats", "approx", "as.formula", "model.matrix", "predict",
             "runif")
  importFrom("utils", "sessionInfo")

import(methods)
import(foreach)
import(doParallel)
import(beeswarm)

import(BiocGenerics)
import(S4Vectors)
import(IRanges)
import(GenomeInfoDb)
import(GenomicRanges)
import(SummarizedExperiment)
import(GenomicFiles)
importFrom(BBmisc, chunk)
importFrom(ffbase, hist.ff, quantile.ff) #, ffappend)

importFrom(limma, lmFit)
import(mgcv)

importFrom(AnnotationDbi, select)

importFrom(GenomicFeatures, transcriptsBy)
importFrom(ggplot2, ggplot, 
     aes, geom_point, xlab, ylab, facet_grid, ggtitle, theme,
     element_text)
importFrom(reshape2, melt)

importFrom(gQTLBase, storeToFf, loadAndFilterResult, ciseStore,
	storeApply, extractByProbes)

export(cisAssoc, clipPCs, regressOut, AllAssoc, pifdr)
export( storeToQuantiles,  storeToHist, storeToFDR,
     storeToFDRByProbe, storeToMaxAssocBySNP)
exportClasses("FDRsupp")
export(getFDRfunc, getTab, setFDRfunc, directPlot,
       txsPlot, eqBox2, eqDesc2, enumerateByFDR, #gmod2,
	manhWngr)

importFrom(VariantAnnotation, readVcf, scanVcfHeader, ScanVcfParam, isSNV,
   genotypeToSnpMatrix, alt, ref, "vcfSamples", "vcfSamples<-", info, "alt<-",
   readGT, geno)

importFrom(Biobase, selectSome, pData, assayDataNew, exprs, samples)

#importFrom(BiocParallel, bpparam, bpworkers, bplapply)

importFrom(BatchJobs, batchMapResults, makeRegistry, submitJobs,
	waitForJobs, findNotDone)

importFrom(snpStats, snp.rhs.tests, col.summary, chi.squared)

importFrom(dplyr, filter, group_by, summarize, "%>%",
  rbind_all, arrange)

export( table_sensobj_thresh, queryVCF, senstab )
S3method( plot, table.sensobj )
S3method( plot, senstab )

export(prep.cisAssocNB, cisCount, qqStore, #collapseToBuf, 
    transAssoc)

#importFrom(biocMultiAssay, subsetSample, features)

exportClasses(TransChunk)
export(TransChunk, filteredDFwPerm, transTable, mixedVCFtoSnpMatrix)

export(cisEsts) # Tzuu-Wang
export(gQTLs, gQTLswarm)
exportClass("TransStore")
export("describe")
export("TransStore")

export(tsByRank, transBrowse, tsByRankAccum, transBrowse2, eqBox3)
export(pifdr2)
export(tsIndex.reg)
